* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffa5ab;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.5);
    font-size: 8vmin;
    background-color: #f9dbbd;
    color: #a53860;
}

#reset-btn {
    height: 40px;
    width: 100px;
    background-color: #f9dbbd;
    color: #a53860;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
}

#new-btn {
    height: 40px;
    width: 100px;
    background-color: #f9dbbd;
    color: #a53860;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
}

#msg {
    color: #450920;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;
}

.msg-container {
    height: 100vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

h1 {
    color: #450920;
    margin-top: 20px;
}

.hide {
    display: none;
}